.whoUseOurApp {
  width: 50vw;
  margin: auto;
  margin-top: 120px;
  .h2 {
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 0em;
    color: #d7d7d7;
    text-align: center;
  }
}
