.footer {
  left: 0px;
  top: 3861px;
  border-radius: 0px;
  background: #f3f3f3;
  padding: 70px 75px;
}
.stats {
  display: flex;
  padding: 17px 0px;
  background: white;
  border-radius: 7px;
  div {
    padding: 0px 45px;
  }
  div:not(:last-child) {
    border-right: 1px solid #e7eaeb;
  }
  h4 {
    font-family: Noto Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #001a49;
  }
  h5 {
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #4f596a;
  }
}
.helpMenu {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 200px);

    flex-direction: column;
    flex-wrap: wrap;
    height: 170.75px;

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  h4 {
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #001a49;
  }
  li {
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f596a;
  }
}
